<div class = "row">
<button [routerLink] = "['new']" class="waves-effect waves-light btn-large" ><i class="material-icons left">plus_one</i>Add a pet</button>
</div>
<div class = "row">
<div *ngFor = "let pet of allPets" class="col s12 m4">
    <div class="card">
        <div class="card-content ">
          <span class="card-title">Name: {{pet.name}}</span>
          <p>Type: {{pet.type}}</p>
          <p>{{pet.description}}</p>
        </div>
        <div class="card-action">
          <a [routerLink] = "['pets', pet._id]">Details</a>
          <a [routerLink] = "['edit', pet._id]">Edit</a>
        </div>
	</div>
</div>
<div class = "row">